@using Microsoft.AspNetCore.Identity
@model Booking
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Edit";
    var currentUser = await UserManager.GetUserAsync(User);
}

<a asp-action="Index" class="btn btn-outline-primary"><i class="fas fa-arrow-left"></i> Back</a> <br><br>
<h2>Edit Booking</h2>

<hr />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" hidden>
                    <label class="form-label" asp-for="AssociatedPackageId">Package</label>
                    <select asp-for="AssociatedPackageId" class="form-control">
                        <option value="@ViewBag.Package">Selected package</option>
                    </select>
                    <span asp-validation-for="AssociatedPackageId" class="text-danger"></span>
                </div>
            
            @if (SignInManager.IsSignedIn(User) && Model.CreatedBy == currentUser)
            {
                <div class="form-group">
                    <label class="form-label" asp-for="NumberOfTravellers">Number of Travellers</label>
                    <input asp-for="NumberOfTravellers" class="form-control" />
                    <span asp-validation-for="NumberOfTravellers" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="PaymentMethod">Payment Method</label>
                    <select asp-for="PaymentMethod" class="form-control">
                        <option value="">Select Payment Method</option>
                        @foreach (var paymentMethod in Enum.GetValues(typeof(PaymentMethod)))
                        {
                            <option value="@paymentMethod">@paymentMethod</option>
                        }
                    </select>
                    <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CouponCode" class="control-label"></label>
                    <input asp-for="CouponCode" class="form-control" />
                    <span asp-validation-for="CouponCode" class="text-danger"></span>
                </div>
            }
            
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">@ViewBag.Message</div>
            }
            
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
